In [1]:
# 1
test1 = 'This is a test of the emergency text system,'
with open('test.txt', 'w') as f:
    f.write(test1)

In [2]:
# 2
with open('test.txt', 'r') as f:
    test2 = f.read()
print(test1 == test2)

True

In [3]:
# 3
import csv

data = [    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', 1960],
    ['Perdido Street Station', 'China Miéville', 2000],
    ['Thud!', 'Terry Pratchett', 2005],
    ['The Spellman Files', 'Lisa Lutz', 2007],
    ['Small Gods', 'Terry Pratchett', 1992],
]

with open('books.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(data)

In [4]:
# 4
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute("CREATE TABLE books (title text, author text, year integer)")
conn.commit()
conn.close()

In [5]:
# 5
import csv
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

with open('books.csv', 'r') as f:
    reader = csv.reader(f)
    next(reader)  # skip the header row
    for row in reader:
        cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", row)

conn.commit()
conn.close()

In [6]:
# 6
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute("SELECT title FROM books ORDER BY title ASC")
titles = cursor.fetchall()

for title in titles:
    print(title[0])

conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [7]:
# 7
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute("SELECT * FROM books ORDER BY year ASC")
books = cursor.fetchall()

for book in books:
    print(book)

conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [8]:
# 8
import sqlalchemy

engine = sqlalchemy.create_engine('sqlite:///books.db')

In [10]:
# 9
import redis

r = redis.Redis()
r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')

In [13]:
# 10
import redis

r = redis.Redis()
count = r.hincrby('test', 'count', 1)